@{
    ViewBag.Title = "AddNewFlowPost";
}

<h2>Ajoutez un nouveau post</h2>
@using(@Html.BeginForm("AddNewPost", "Flow"))
{
<fieldset>
    <ol>
        <li>
            <label>Titre du post : </label>
            @Html.TextBox("PostTitle", null, htmlAttributes: new { name = "title" })
        </li>
        <li>
            <label>Contenu :  </label>
            @Html.TextArea("PostContent", htmlAttributes: new { name = "content" })
        </li>
        <li>
            <label>Url à suivre :  </label>
            @Html.TextBox("URL", null, htmlAttributes: new { name = "url" })
        </li>

    </ol>
    <input type="submit" />
</fieldset>
}