@model StudentDATAWeb.Models.FlowPostModel
@{
    ViewBag.Title = "Flow";
}

<h2 >Flow</h2>
@if(ViewBag.IsWriter)
{
    @Html.ActionLink("Ajouter", "AddPost", "Flow", routeValues: null, htmlAttributes: new { id = "AddPostLink", @class ="btn btn-primary" })
}
@foreach(var post in ViewBag.FlowList)
{
    <div>
        <div class="post-div " onmouseover=resizingOpen(this) onmouseout="resizingClose(this)   ">
        <p >@post[1]</p>
    </div>
}
