@model StudentDATAWeb.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
}

<h2 class="col-md-offset-5">Your Profile</h2>
@if(ViewBag.Modifying)
{
    @Html.Partial("/Views/Account/_ModifyProfilePartial.cshtml")
}
else
{
    @Html.Partial("/Views/Account/_ProfileViewPartial.cshtml")
}
